[submodule "3rdparty/github-release"]
	path = 3rdparty/github-release
	url = https://github.com/igormironchik/github-release.git
[submodule "3rdparty/md-pdf-lib"]
	path = 3rdparty/md-pdf-lib
	url = https://github.com/igormironchik/md-pdf-lib.git
