
/**/debug/
/**/release/
/**/target/
/lib/
/build/
/**/Makefile*
/**/*.o
/**/*.user
/**/moc_*.cpp
/**/*.moc
/**/ui_*.h
/**/qrc_*.cpp
/3rdparty/badge-highlight/node_modules/
/3rdparty/resvg-*/
/installer/**/*.xml
!/3rdparty/resvg*.tar.xz
