<?xml version="1.0" encoding="UTF-8"?>
<Installer>
    <Name>Markdown Tools</Name>
    <Version>0.11.0</Version>
    <Title>Markdown Tools Installer</Title>
    <Publisher>Igor Mironchik</Publisher>
    <StartMenuDir>Markdown Tools</StartMenuDir>
    <TargetDir>@HomeDir@/Markdown Tools</TargetDir>
    <WizardDefaultWidth>1000</WizardDefaultWidth>
    <WizardDefaultHeight>650</WizardDefaultHeight>
</Installer>
